.addItem input {
    display: flex;
    width: 250px;
    /* margin-left: 35px; */
    padding-left: 10px;
    /* flex-basis: fill; */
}

.addItem button {
    margin-left: 20px;
}

.addItem {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}