.done {
    text-decoration: line-through;
}

.important {
    font-weight: bold;
    color: steelblue;
}
.buttons{
    margin-left: 20px;
}
.todolistItem{
    display: flex;
    flex-direction: row;
    align-items:center;
    list-style: none;
    margin-left: 20px;
}